<h3>Create a dog</h3>
<%= form_with model: @dog do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :motto, placeholder: "description" %>

  <%= form.submit %>
<% end %>
