<h3>Create a New Cat</h3>

<%= form_with model: @cat do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :description, placeholder: "description" %>

  <%= form.submit %>
<% end %>
